body{
    background-color: #fdf9c9;
    font-family: 'Yanone Kaffeesatz', serif;/*字体麻烦您统一一下*/  
}
.container_5{
    position: relative;
    box-sizing:border-box;
    width:80vw;
    height:95vw;/*弄多高视section个数定,多一个section加一个23vw*/
    left:0vw;
    top:3vw;
}
.section_left{/* 图片在左 文本在右*/
    box-sizing:border-box;
    position: relative;
    margin-left: 0;
    margin-right:0;
    margin-top:3vw;
    margin-bottom:0;
    width:80vw;
    height:20vw;
}
.image_left{
    box-sizing:border-box;
    float:left;/*图片在左*/
    margin-left: 0;
    margin-right: 2vw;
    margin-top:0;
    margin-bottom:0;
    width:38vw;
    height:20vw;
}
.text_right{
    box-sizing:border-box;
    float:right; /*文本在右*/
    margin-left: 2vw;
    margin-right: 0;
    margin-top:0;
    margin-bottom:0;
    width:38vw;
    height:20vw;
    background-color:#BEBE98;
}
.section_right{/*图片在右 文本在左*/
    box-sizing:border-box;
    position: relative;
    margin-left: 0;
    margin-right:0;
    margin-top:3vw;
    margin-bottom:0;
    width:80vw;
    height:20vw;
}
.text_left{
    box-sizing:border-box;
    float:left; /*文本在左*/
    margin-left: 0;
    margin-right: 2vw;
    margin-top:0;
    margin-bottom:0;
    width:38vw;
    height:20vw;
    background-color: #BEBE98;
}
.image_right{
    box-sizing:border-box;
    float:right;/*图片在右*/
    margin-left: 2vw;
    margin-right: 0;
    margin-top:0;
    margin-bottom:0;
    width:38vw;
    height:20vw; 
}
.title{
    box-sizing: border-box;
    border: 3px black;
    border-bottom-style: solid;
    margin-left: 2vw;
    padding-top:0;
    margin-bottom:0;
    width:29vw;
    height:3vw;
    line-height:2vw;
    font-weight:bold;
}
.title>h2{
    font-size: 1.9vw;
    /*letter-spacing:0.5vw; 宽度不够，舍弃字间距*/
    /*text-indent:2em;空格*/
    /*letter-spacing: 4px;  px单位不能响应*/
}
.content>p{
    font-size:1.5vw;
    text-align:justify;
    /*letter-spacing: 0.1vw; 文本内容少时可以应用字间距*/
    line-height:normal;
    text-overflow: ellipsis;
}
.content{
    box-sizing: border-box;
    margin-left: 2vw;
    margin-top:1vw;
    margin-bottom:0;
    width:32vw;
    height:16vw;
}