body
{
	background-color: #fdf9c9;
}

img#headPicture
{
    width: 1534px !important;
	height: 302px !important;
}

#Karleidoscope
{
	width:100%;
	overflow: hidden;
	margin:50px auto;
}

#Karleidoscope .Karl-item
{
	width: 290px;
	height: 160px;
	float: left;
	text-align: center;
}


